<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>摄像头录制视频</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/test.css') }}"
    />
  </head>
  <body>
    <div id="container">
      <div id="video-record">
        <h2>
          <img
            src="{{ url_for('static', filename='4.png') }}"
            alt="q版"
            width="50"
            height="50"
          />
          <span>视频录制</span>
        </h2>
        <div class="video-container">
          <video id="recordVideo" autoplay muted playsinline></video>
          <div id="timer">00:00:00</div>
        </div>
        <div class="button-group">
          <button id="startRecord">开始录制</button>
          <button id="pauseRecord" disabled>暂停录制</button>
          <button id="resumeRecord" disabled>继续录制</button>
          <button id="stopRecord" disabled>停止录制</button>
        </div>
      </div>
      <div id="video-export">
        <h3>
          <img
            src="{{ url_for('static', filename='7.png') }}"
            alt="q版"
            width="50"
            height="50"
          />
          <span>视频导出</span>
        </h3>
        <video id="exportVideo" controls></video>
        <div class="button-group">
          <button id="playVideo" disabled>预览视频</button>
          <button id="uploadVideo" disabled>上传视频</button>
          <button id="processVideo" disabled>开始处理</button>
        </div>
        <div class="file-upload">
          <label for="fileInput" class="fileinput">选择视频文件：</label>
          <input type="file" id="fileInput" accept="video/*"/>
          <div id="filenameDisplay">未选择任何文件</div>
          <button id="uploadFile" >导入文件</button>

        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
  </body>
</html>
